<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}<title>CAPES Portal</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" type="text/css" href="{% static 'ISworkshop/style.css' %}">


</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="{% url 'index' %}">CAPES Portal</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Opportunities</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
      </ul>
    </div>
  </nav>

  

  <div class="container profile">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="{% static 'ISworkshop/profile.jpg' %}" alt="Profile" class="rounded-circle" width="150">
                <div class="mt-3">
                  <h4>Luis Tuason</h4>
                  <p class="text-secondary mb-1">BS Electronics Engineering</p>
                  <p class="text-muted font-size-sm">2018-08149</p>
                  <!-- I wanted to make this a button, but for some reason, the href tag wouldn't work. -->
                  <a href="{% url 'form' %}">Edit Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% for post in posts %}

        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">First Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Philip Luis
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Last Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Tuason
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{post.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Student Number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{post.student_number}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Degree Program</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{post.degree}} {{post.program}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Graduation Year</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{post.graduation_year}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  +639175644826
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">City</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Quezon City
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Last Login</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{post.last_login}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Date Joined</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{post.date_joined}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">CAPES Miles Points</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Over 9000
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>

  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>